:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #C0C0C0;
    --cor-botao: #167Bf7;
    --cor-de-fundo: #00030c;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
}

.principal{
    background-image: url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    text-decoration: none;
}

.botao__secundario{
    background-color: transparent;
    border: 1px solid white;
}